.button {          height: 26px;
                    width: 86px;
             border-width: 3px;
             border-color: #33AA33;
                    color: #FFFFFF;
         background-color: #007700;
              font-family: Arial;
              font-weight: bold}